table {
  border: 1px solid black;
  border-spacing: 1px;
}

td, th {
  border: 1px solid black;
  padding: 1px;
}

.middle {
  margin: auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
